*{
	background-color: black;
	color: white;
	margin: 0;
}
body {
		margin: 9%;

}

}
#texto {
	width: 100%;
}
.pandas {
	margin: 0%;
	height: 240px;
	width: 230px;
	filter: grayscale(100%);
	float: left;
	padding: 1%;
}
#X {
    color: white;
    font-size: 24px;
/*    width: 45%;
    height: 20%;*/
    background-color: rgba(255, 255, 0, 0);
    border: none;
    font-weight: bold;
    float: left;
	position: absolute;
	z-index: 1;
}
.DedePanda {
	float: left;
}

.pes div {
	padding: 2%;
	margin-top:15px;
	float: left;
	width:45%;
}
.pes {
	text-align: justify;
	padding: 5% 0% 0% 0%;
}
.inicio { 
	background-color: #ca3c25;
}

#texto {
	margin: 12px;
}

#texto div {
	text-align: center;
	margin-right: 2%;
	width: 25%;
	height: 10px;
	padding: 1% 3%;
	display: inline-block;
	background-color: #ca3c25;
}



li {
	margin-left: 8%;
	background-color: #ca3c25;
	display: inline-block;
	text-decoration: underline;
}
ul {
	height: 50px;
}